---
import type { Framework } from "../../types";

export interface Props {
  framework: Framework;
}

const { framework } = Astro.props;
---

<div class="p-4">
  <div class="flex items-center mb-1">
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mr-3 text-blue-600 rounded-full bg-blue-50"
    >
      <img src={`/logos/${framework.logo}`} />
    </div>
    <h1
      class="text-xl font-semibold leading-none tracking-tighter text-neutral-600"
    >
      {framework.name}
    </h1>
  </div>
  <div class="flex flex-row gap-x-4">
    <div class="">
      <a
        href={framework.demoUrl}
        class="inline-flex items-center mt-2 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
      >
        Demo
      </a>
    </div>

    <div class="">
      <a
        href={framework.githubUrl}
        class="inline-flex items-center mt-2 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
      >
        Github
      </a>
    </div>

    <div class="">
      <a
        href={framework.packageManagerUrl}
        class="inline-flex items-center mt-2 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
      >
        {framework.packageManager}
      </a>
    </div>
  </div>
</div>
